:root {
    --primary-color: #1A1A1A;
    --accent-color: #0062E0;
    --content-bg-color: #F2F4FF;
    --main-bg-color: #FFF;
    --white-text-color: #FFF;
    --stamp-color: #25B700;
    --cubics: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 40px;
    max-width: 1160px;
    min-height: 590px;
    margin: auto;
}

/*Aside steps navigation*/

.aside-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 513px;


    .main-message-title {
        max-width: 370px;
        font-weight: 700;
        font-size: 40px;
        line-height: 1;
        color: var(--primary-color);
    }

    .app-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 0.92;
        color: var(--accent-color);
    }

    .steps-btn-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .steps-btn-item {
            border-radius: 6px;
            cursor: pointer;

            .btn-label {
                display: flex;
                align-items: center;
                gap: 23px;
                width: 100%;
                height: 100%;
                padding: 15px 23px;
                cursor: pointer;
                transition: border 300ms var(--cubics);

                .step-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 40px;
                    height: 40px;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.33;
                    color: var(--primary-color);
                    border: 1px solid #000000;
                    border-radius: 50%;
                    transition: color 300ms var(--cubics);
                }

                .step-info-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                }

                .step-title {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 0.92;
                    color: var(--primary-color);
                    transition: color 250ms var(--cubics);
                }

                .step-description {
                    display: none;
                }
            }

/*An active step*/

            & input:checked + label {
                padding: 15px 23px;
                background: linear-gradient(#FFF, #FFF) padding-box,
                linear-gradient(90deg, #0062E0 0%, #0094FF 100%) border-box;
                border-radius: 6px;
                border: 3px solid transparent;
                cursor: pointer;

                .step-number {
                    min-width: 50px;
                    height: 50px;
                    font-size: 25px;
                    line-height: 1.33;
                    color: var(--white-text-color);
                    border: none;
                    background: linear-gradient(180deg, #0094FF 0%, #0062E0 100%);
                }

                .step-title {
                    color: var(--accent-color);
                }

                .step-description {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.38;
                    color: var(--primary-color);
                }
            }

            .radio-btn {
                display: none;
            }
        }
    }
}

/*Steps content*/

.content-container {
    border-radius: 6px;
    background-color: var(--content-bg-color);
}

/* First step content*/

.step-wrapper#content1 {
    padding: 100px 52px;

    .calendar-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 78px 37px 45px 30px;
        border-radius: 6px;
        background-color: #FFFFFF;

        .date-box {
            display: flex;
            flex-direction: column;
            gap: 28px;
            padding: 26px;
            border-radius: 6px;
            background-color: #FFF;

            .calendar-date {
                display: flex;
                align-items: center;
                gap: 9px;
                font-family: 'Helvetica Neue', sans-serif;

                .day-number {
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 1.22;
                }

                .day-name{
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.22;
                }
            }

            .date-info-wrapper {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .date-info-box {
                    border-radius: 6px;

                    &.small {
                        width: 86px;
                        height: 14px;
                        background-color: #CBDFF8;
                    }

                    &.medium {
                        width: 101px;
                        height: 21px;
                        background-color: #F6F7F8;
                    }

                    &.large {
                        min-width: 136px;
                        height: 21px;
                        background-color: #F6F7F8;
                    }
                }
            }

            &.start-date {
                background: linear-gradient(94.71deg, #0062E0 0.72%, #0094FF 103.21%);
                box-shadow: 0 4px 10px 0 #0000001F;

                & p{
                    color: var(--white-text-color);
                }
            }

            &.end-date {
                position: relative;
                border: 3px solid var(--accent-color);

                & p{
                    color: var(--primary-color);
                }

                .notification-wrapper {
                    position: absolute;
                    top: -37px;
                    right: -23px;
                    padding: 13px 10px;
                    border-radius: 6px 6px 6px 0;
                    background: #000000;
                    box-shadow: 0 4px 10px 0 #0000001F;


                    .notification-text{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 1;
                        text-align: center;
                        color: var(--white-text-color);
                    }
                }
            }
        }
    }
}

/* Second step content*/

.step-wrapper#content2 {
    padding: 80px 60px 64px 48px;

    .cars-card-list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 8px;

        .cars-card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 14px 11px;
            border-radius: 6px;
            background-color: var(--main-bg-color);

            .car-name {
                width: 105px;
                height: 18px;
                margin-bottom: 10px;
                border-radius: 3px;
                background-color: #EDEFF180;
            }

            .car-img {
                width: 105px;
                height: 75px;
                margin-bottom: 10px;
                border-radius: 6px;
                background-color: #F6F7F8;
            }

            .car-description {
                width: 81px;
                height: 18px;
                margin-bottom: 8px;
                border-radius: 3px;
                background-color: #EDEFF180;
            }

            .car-small-description {
                width: 99px;
                height: 9px;
                margin-bottom: 10px;
                border-radius: 3px;
                background-color: #EDEFF180;
            }

            .car-card-btn {
                width: 137px;
                height: 22px;
                border-radius: 20px;
                background-color: #0062E033;
            }
        }
    }

    .cars-card-item.active {
       transform: translateY(-18px);
       background: linear-gradient(94.71deg, #0062E0 0.72%, #0094FF 103.21%);

        .car-name-active {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 0.92;
            text-align: center;
            color: var(--white-text-color);
        }

        .car-img-active{
           margin-bottom: 8px;
        }

        .car-card-btn.active{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 11.42px;
            line-height: 0.92;
            text-align: center;
            background-color: var(--white-text-color);
            color: var(--accent-color);
        }
    }

    .cars-stamp-statistic {
        position: absolute;
        right: -37px;
        bottom: 97px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 123px;
        height: 123px;
        background-color: var(--stamp-color);
        border-radius: 50%;

        .cars-qty {
            font-weight: 700;
            font-size: 50px;
            line-height: 0.92;
            color: var(--white-text-color);
        }

        .statistic-item {
            font-weight: 700;
            font-size: 20px;
            line-height: 0.92;
            color: var(--white-text-color);
        }
    }
}

.step-wrapper#content1,
.step-wrapper#content3,
.step-wrapper#content4 {
        display: none;
}

/*#step1:checked ~ .step-wrapper #content1,*/
/*#step2:checked ~ .step-wrapper #content2,*/
/*#step3:checked ~ .step-wrapper #content3,*/
/*#step4:checked ~ .step-wrapper #content4 {*/
/*    display: block;*/
/*}*/