:root {
    --primary-color: #1A1A1A;
    --accent-color: #0062E0;
    --content-bg-color: #F2F4FF;
    --main-bg-color: #FFF;
    --white-text-color: #FFF;
    --stamp-color: #25B700;
    --cubics: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1160px;
    min-height: 590px;
    margin: auto;
}

/*Aside steps navigation*/

.aside-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 513px;


    .main-message-title {
        max-width: 370px;
        font-weight: 700;
        font-size: 40px;
        line-height: 1;
        color: var(--primary-color);
    }

    .app-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 0.92;
        color: var(--accent-color);
    }

    .steps-btn-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .steps-btn-item {
            border-radius: 6px;
            cursor: pointer;

            .btn-label{
                display: flex;
                align-items: center;
                gap: 23px;
                width: 100%;
                height: 100%;
                padding: 15px 23px;
                cursor: pointer;
                background: transparent;
                transition: background 500ms var(--cubics);

                .step-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 40px;
                    height: 40px;
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1;
                    color: var(--primary-color);
                    border: 1px solid #000000;
                    border-radius: 50%;
                }

                .step-info-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                }

                .step-title {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 0.92;
                    color: var(--primary-color);
                    transition: color 500ms var(--cubics);
                }

                .step-description {
                    display: none;
                }
            }
            .radio-btn {
                display: none;
            }
        }
    }
}

/*An active step*/

.container:has(.radio-btn#step1:checked) .btn-label[for="step1"],
.container:has(.radio-btn#step2:checked) .btn-label[for="step2"],
.container:has(.radio-btn#step3:checked) .btn-label[for="step3"],
.container:has(.radio-btn#step4:checked) .btn-label[for="step4"] {
    padding: 15px 23px;
    background: linear-gradient(#FFF, #FFF) padding-box,
    linear-gradient(90deg, #0062E0 0%, #0094FF 100%) border-box;
    border-radius: 6px;
    border: 3px solid transparent;
    cursor: pointer;

    .step-number {
        min-width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 1;
        color: var(--white-text-color);
        border: none;
        background: linear-gradient(180deg, #0094FF 0%, #0062E0 100%);
    }

    .step-title {
        color: var(--accent-color);
    }

    .step-description {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: var(--primary-color);
    }
}

/*Steps content*/

.content-container {
    width: 608px;
    height: 580px;
    border-radius: 6px;
    background-color: var(--content-bg-color);

    .step-wrapper {
        display: none;
        width: 100%;
        height: 100%;
    }

    .radio-btn:checked + .step-wrapper {
        display: block;
    }

    .radio-btn{
        display: none;
    }
}

/* First step content*/

.step-wrapper#content1 {
    padding: 100px 52px;

    .calendar-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 78px 37px 45px 30px;
        border-radius: 6px;
        background-color: #FFFFFF;

        .date-box {
            display: flex;
            flex-direction: column;
            gap: 28px;
            padding: 26px;
            border-radius: 6px;
            background-color: #FFF;

            .calendar-date {
                display: flex;
                align-items: center;
                gap: 9px;
                font-family: 'Helvetica Neue', sans-serif;

                .day-number {
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 1.22;
                }

                .day-name{
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.22;
                }
            }

            .date-info-wrapper {
                display: flex;
                flex-direction: column;
                gap: 6px;

                .date-info-box {
                    border-radius: 6px;

                    &.small {
                        width: 86px;
                        height: 14px;
                        background-color: #CBDFF8;
                    }

                    &.medium {
                        width: 101px;
                        height: 21px;
                        background-color: #F6F7F8;
                    }

                    &.large {
                        min-width: 136px;
                        height: 21px;
                        background-color: #F6F7F8;
                    }
                }
            }

            &.start-date {
                background: linear-gradient(94.71deg, #0062E0 0.72%, #0094FF 103.21%);
                box-shadow: 0 4px 10px 0 #0000001F;

                & p{
                    color: var(--white-text-color);
                }
            }

            &.end-date {
                position: relative;
                border: 3px solid var(--accent-color);

                & p{
                    color: var(--primary-color);
                }

                .notification-wrapper {
                    position: absolute;
                    top: -37px;
                    right: -23px;
                    padding: 13px 10px;
                    border-radius: 6px 6px 6px 0;
                    background: #000000;
                    box-shadow: 0 4px 10px 0 #0000001F;


                    .notification-text{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 1;
                        text-align: center;
                        color: var(--white-text-color);
                    }
                }
            }
        }
    }
}

/* Second step content*/

.step-wrapper#content2 {
    position: relative;
    padding: 80px 60px 64px 48px;

    .cars-card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 8px;

        .cars-card-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 14px 11px;
            border-radius: 6px;
            background-color: var(--main-bg-color);

            .car-name {
                width: 105px;
                height: 18px;
                margin-bottom: 10px;
                border-radius: 3px;
                background-color: #EDEFF180;
            }

            .car-img {
                width: 105px;
                height: 75px;
                margin-bottom: 10px;
                border-radius: 6px;
                background-color: #F6F7F8;
            }

            .car-description {
                width: 81px;
                height: 18px;
                margin-bottom: 8px;
                border-radius: 3px;
                background-color: #EDEFF180;
            }

            .car-small-description {
                width: 99px;
                height: 9px;
                margin-bottom: 10px;
                border-radius: 3px;
                background-color: #EDEFF180;
            }

            .car-card-btn {
                width: 137px;
                height: 22px;
                border-radius: 20px;
                background-color: #0062E033;
            }
        }
    }

    .cars-card-item.active {
       transform: translateY(-18px);
       background: linear-gradient(94.71deg, #0062E0 0.72%, #0094FF 103.21%);

        .car-name-active {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 0.92;
            text-align: center;
            color: var(--white-text-color);
        }

        .car-img-active{
           margin-bottom: 8px;
        }

        .car-card-btn.active{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 11.42px;
            line-height: 0.92;
            text-align: center;
            background-color: var(--white-text-color);
            color: var(--accent-color);
        }
    }

    .cars-stamp-statistic {
        position: absolute;
        right: 23px;
        bottom: 161px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 123px;
        height: 123px;
        background-color: var(--stamp-color);
        border-radius: 50%;

        .cars-qty {
            font-weight: 700;
            font-size: 50px;
            line-height: 0.92;
            color: var(--white-text-color);
        }

        .statistic-item {
            font-weight: 700;
            font-size: 20px;
            line-height: 0.92;
            color: var(--white-text-color);
        }
    }
}

/* Third step content*/

.step-wrapper#content3{
    padding: 64px 30px 50px;

    .cars-features-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cars-features-item1{
            display: flex;
            gap: 20px;
            width: fit-content;
            padding: 14px;
            border-radius: 6px;
            background: linear-gradient(94.71deg, var(--accent-color) 0.72%, #0094FF 103.21%);

            .feature-title {
                margin-bottom: 6px;
                font-weight: 800;
                font-size: 18px;
                line-height: 0.92;
                color: var(--white-text-color);
            }
        }

        .cars-features-item2{
            display: flex;
            gap: 20px;
            margin-left: 138px;
            padding: 14px;
            border-radius: 6px;
            background-color: var(--main-bg-color);

            .feature-img{
                width: 162px;
                height: 92px;
                border-radius: 6px;
                background-color: var(--content-bg-color);
            }

            .feature-title.default{
                width: 165px;
                height: 20px;
                margin-bottom: 7px;
                border-radius: 3px;
                background-color: var(--content-bg-color);
            }

            .feature-info.default{
                width: 200px;
                height: 31px;
                border-radius: 3px;
                background: var(--content-bg-color);
            }

            .add-btn.default{
                width: 202px;
                height: 26px;
                border-radius: 6px;
                background-color: #CCE0F9;
            }
        }

        .cars-features-item3{
            display: flex;
            align-items: center;
            width: fit-content;
            margin-right: 34px;
            padding: 10px 18px 10px 0;
            background: linear-gradient(#FFF, #FFF) padding-box,
            linear-gradient(90deg, #0062E0 0%, #0094FF 100%) border-box;
            border-radius: 6px;
            border: 3px solid transparent;

            .wifi-img{
                margin-right: 16px;
            }

            .wifi-info-wrapper{
                margin-right: 28px;

                .feature-title.wifi{
                    margin-bottom: 6px;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 0.92;
                }

                .feature-info.wifi{
                    width: 116px;
                    height: 15px;
                    border-radius: 6px;
                    background: #F6F7F8;
                }
            }
            .add-btn.wifi{
                width: 105px;
                height: 44px;
                font-weight: 600;
                font-size: 16px;
                line-height: 0.92;
                color: var(--white-text-color);
                border-radius: 20px;
                background: linear-gradient(94.71deg, #0062E0 0.72%, #0094FF 103.21%);
            }
        }

        .cars-features-item4{
            display: flex;
            align-items: center;
            width: fit-content;
            margin-left: 168px;
            padding: 16px 18px 16px 0;
            border-radius: 6px;
            background-color: var(--main-bg-color);

            .cars-features-img.small{
                margin-right: 27px;
                width: 57px;
                height: 44px;
                border-radius: 0 6px 6px 0;
                background-color: var(--content-bg-color);
            }

            .feature-info-wrapper.small{
                margin-right: 17px;

                .feature-title.small{
                    margin-bottom: 8px;
                    width: 69px;
                    height: 19px;
                    border-radius: 6px;
                    background-color: var(--content-bg-color);
                }

                .feature-info.small{
                    width: 126px;
                    height: 17px;
                    border-radius: 6px;
                    background-color: var(--content-bg-color);
                }
            }
            .add-btn.small{
                width: 106px;
                height: 44px;
                border-radius: 6px;
                background-color: #CCE0F9;
            }
        }

        .feature-info {
            margin-bottom: 6px;
            width: 199px;
            height: 13px;
            border-radius: 3px;
            background: #EDEFF180;
        }

        .feature-description {
            margin-bottom: 8px;
            width: 178px;
            height: 13px;
            border-radius: 3px;
            background-color: #EDEFF180;
        }

        .add-btn{
            width:202px;
            height:26px;
            border-radius: 20px;
            font-family: 'Helvetica Neue', sans-serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 1.22;
            color: var(--accent-color);
            background-color: var(--main-bg-color);
        }
    }

    .features-stamp-statistic{
        position: absolute;
        top: 34px;
        right: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 123px;
        height: 123px;
        background-color: var(--stamp-color);
        border-radius: 50%;

        .text-free {
            font-weight: 700;
            font-size: 40px;
            line-height: 0.92;
            color: var(--white-text-color);
        }

        .text-insurance {
            font-weight: 700;
            font-size: 16px;
            line-height: 0.92;
            color: var(--white-text-color);
        }
    }
}

/* Fourth step content*/

.step-wrapper#content4{
    padding: 56px 56px 60px;

    .complete-step-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 37px 48px 53px;
        border: 1px solid #EFF0F6;
        border-radius: 34px;
        background-color: var(--main-bg-color);
        box-shadow: 0 5px 16px 0 #080F340F;

        .complete-steps {
            display: flex;
            align-items: center;
            padding-bottom: 36px;
            margin-bottom: 23px;
            border-bottom: 1px solid #D9DBE9;

            .complete-steps-number{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                font-weight: 500;
                font-size: 22px;
                line-height: 0.92;
                color: var(--white-text-color);
                border-radius: 50%;
                background: linear-gradient(94.71deg, #0062E0 0.72%, #0094FF 103.21%);
            }

            .complete-steps-divider{
                width: 67px;
                height: 4.5px;
                margin: 0 6px;
                border-radius: 40px;
                background-color: #F8F9FD;
            }
        }

        .complete-steps-icon {
            margin-bottom: 35px;
        }

        .complete-text-wrapper{
            margin-bottom: 14px;
            width: 348px;
            height: 46px;
            border-radius: 6px;
            background-color: #F6F7F8;
        }

        .complete-text-wrapper.bottom{
            margin-bottom: 0;
        }
    }
}
